/*
 *= require blueimp/blueimp-gallery
 *= require blueimp/blueimp-gallery-indicator
 *= require blueimp/blueimp-gallery-video
 *= require_self
 */


@import 'bourbon';
@import 'base/base';
@import 'neat';
@import 'bootstrap-custom';
@import 'works';
@import 'devise';


$max-width: 1400px;
$gutter: 20px;

$visual-grid: true;
$visual-grid-color: #FF0000;
$visual-grid-index: front;

$max: new-breakpoint(min-width 1400px);
$mid: new-breakpoint(max-width 1024px);
$min: new-breakpoint(max-width 768px);
$portrait: new-breakpoint(orientation 'portrait');


.wf-loading * {
  visibility: hidden;
}

body {
  @include outer-container;
  margin-top: 0;
  margin-bottom: 0;
  background: #FFF;
  color: #000;
}

h1 {
  @include font-feature-settings("kern" 1);
  @include pad;
  @include media($max) {
    font-size: 2.25em;
  }
  @include media($mid) {
    @include pad(0.5em);
    font-size: 1.75em;
  }
  @include media($portrait) {
    @include pad(1em);
    font-size: 1.25em;
    letter-spacing: 3px;
  }
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 4px;
}

header {
  @include shift(1);
  @include span-columns(10);
  @include pad;
  @include media($mid) {
    @include pad(0.25em);
  }
  @include media($portrait) {
    @include pad(1em);
  }
  text-align: center;
  border-bottom: 1px solid #000;
}

main {
  @include span-columns(12);
  @include pad;
  @include media($mid) {
    @include pad(0.25em default);
  }
}

footer {
  @include span-columns(12);
  font-size: 0.75em;
  opacity: 0.25;
  text-align: center;
}

#main_nav {
  li {
    list-style-type: none;
    display: inline-block;
    padding: 0 1em;
  }
}

.blueimp-gallery-carousel {
  @include media($max) {
    padding-bottom: 62.25%;
  }

  @include media(max-aspect-ratio '3/4') {
    padding-bottom: 90%;
  }

  @include media($portrait) {
    padding-bottom: 90%;
  }

  padding-bottom: 50%;
}

main#devise {
  @include shift(3);
  @include span-columns(6);
  @include pad;
} 

#page {
  @include shift(3);
  @include span-columns(6);
  @include pad(2em);
  line-height: 1.75em;

  @include media($mid) {
    @include shift(1);
    @include span-columns(10);
    @include pad(2em);
  }
}