doctype html
html
  head
    title Victor Rankanen
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    = tag :meta, name: 'viewport', content: 'width=device-width, initial-scale=1'
    = render 'layouts/typekit'

  body
    = render 'layouts/header'

    main
      = yield

    = render 'layouts/footer'

